services:
    anarchychess.api:
        image: ${DOCKER_REGISTRY-}anarchychessapi
        build:
            context: .
            dockerfile: AnarchyChess.Api/Dockerfile
        depends_on:
            - postgres
        restart: unless-stopped

    postgres:
        image: postgres
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        ports:
            - "5432:5432"
        volumes:
            - postgresdata:/var/lib/postgresql/data
        restart: unless-stopped

volumes:
    postgresdata:
